// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
output "DP-2" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@179.961"
    scale 1
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
}
output "HDMI-A-3" {
    mode "1920x180@60"
    scale 1
    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "270"
}

